@import url('https://fonts.googleapis.com/css?family=Montserrat|Srisakdi');
body {
    font-family: 'Srisakdi', cursive;
    font-family: 'Montserrat', sans-serif;
    color:MistyRose	;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("/pictures/image.jpg");
    background-size: cover;    
  }