{{outlet}}  
{{!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li>{{#link-to 'home'}}Home{{/link-to}}</li>
      <li>{{#link-to 'tip-calculator'}}Tip Calculator{{/link-to}}</li>
    </ul>
  </div>
</nav> --}}
